<div class="hello">
<hello name="{{ name }}"></hello>
</div>
<p>
  Start editing to see some magic happen :)
</p>

<div class="scroll" 
  (scroll)="divScroll($event)">
  s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
  s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
  s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
  s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
  s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
  s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
  s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
  s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
</div>